.product { 
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border : 1px solid black;
    margin : 10px;
    width: 100%;
}

.product__image{
    width: 240px;
    height: 240px;
    margin-bottom: 20px;
}

.product__info{
    padding: 0 20px;
}
.product button{
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(239deg,#ffac2d 7%,#ff8219);
    
}